@page
@model ecard.Model.Greetings
@{
    ViewBag.meta_title = "Forms";
    ViewBag.meta_keywords = "";
    ViewBag.meta_desc = "";
    ViewBag.theme = "birthday";
}

<div class="container">

    <form action="Preview" method="post">
        <div class="form-group">
            <label asp-for="@Model.friendname"></label>
            <input asp-for="@Model.friendname" type="text" class="form-control" />
            <span asp-validation-for="@Model.friendname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.friendemail"></label>
            <input asp-for="@Model.friendemail" type="email" class="form-control" />
            <span asp-validation-for="@Model.friendemail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.subject"></label>
            <input asp-for="@Model.subject" type="text" class="form-control" />
            <span asp-validation-for="@Model.subject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.message"></label>
            <textarea asp-for="@Model.message" class="form-control" maxlength="100"></textarea>
            <div class="countdown"></div>
            <span asp-validation-for="@Model.message" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.sendername"></label>
            <input asp-for="@Model.sendername" type="text" class="form-control" />
            <span asp-validation-for="@Model.sendername" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.senderemail"></label>
            <input asp-for="@Model.senderemail" type="email" class="form-control" />
            <span asp-validation-for="@Model.senderemail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6LeM_i0UAAAAACyV8wOooe4mV3_XHbcl-hMjtnrM"></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>

</div>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- BEGIN: TEXTAREA AUTOSIZE -->
    <script src="~/lib/textarea-autosize/dist/jquery.textarea_autosize.js"></script>
    <script>
        $('textarea').textareaAutoSize();
    </script>
    <!-- END: TEXTAREA AUTOSIZE -->

    <script src="~/lib/textarea-countdown.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
}

